@charset "utf-8";
body {
	font-size: 0.28rem;
	line-height: 2;
	-webkit-text-size-adjust: none;
}

a {
	text-decoration: none;
}

ul,
li,
p,
h1,
h2,
h3,
h4,
h5,
dl,
dt,
dd,
ol,
body {
	padding: 0;
	margin: 0;
}

ul,
li {
	list-style: none;
}

img {
	border: 0;
}

input {
	margin: 0;
	padding: 0;
	border-radius: 0;
	border: 0;
}

i,
em {
	font-style: normal;
}

@import 'base';

// 思源黑体-粗体
@font-face {
	font-family: 'ctFont';
	font-display: swap;
	src: url('//at.alicdn.com/t/webfont_sqh2irmbnm.eot'); /* IE9*/
	src: url('//at.alicdn.com/t/webfont_sqh2irmbnm.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('//at.alicdn.com/t/webfont_sqh2irmbnm.woff2') format('woff2'),
		url('//at.alicdn.com/t/webfont_sqh2irmbnm.woff') format('woff'), /* chrome、firefox */ url('//at.alicdn.com/t/webfont_sqh2irmbnm.ttf') format('truetype'),
		/* chrome、firefox、opera、Safari, Android, iOS 4.2+*/ url('//at.alicdn.com/t/webfont_sqh2irmbnm.svg#思源黑体-粗') format('svg'); /* iOS 4.1- */
}

// 思源黑体-常规
@font-face {
	font-family: 'cgFont';
	font-display: swap;
	src: url('//at.alicdn.com/t/webfont_o5cu6hl4uff.eot'); /* IE9*/
	src: url('//at.alicdn.com/t/webfont_o5cu6hl4uff.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('//at.alicdn.com/t/webfont_o5cu6hl4uff.woff2') format('woff2'),
		url('//at.alicdn.com/t/webfont_o5cu6hl4uff.woff') format('woff'), /* chrome、firefox */ url('//at.alicdn.com/t/webfont_o5cu6hl4uff.ttf') format('truetype'),
		/* chrome、firefox、opera、Safari, Android, iOS 4.2+*/ url('//at.alicdn.com/t/webfont_o5cu6hl4uff.svg#思源黑体-普通') format('svg'); /* iOS 4.1- */
}

// @font-face {
//   font-family: 'iconfont';  /* project id 1354456 */
//   src: url('//at.alicdn.com/t/font_1354456_19ax755o5o2.eot');
//   src: url('//at.alicdn.com/t/font_1354456_19ax755o5o2.eot?#iefix') format('embedded-opentype'),
//   url('//at.alicdn.com/t/font_1354456_19ax755o5o2.woff2') format('woff2'),
//   url('//at.alicdn.com/t/font_1354456_19ax755o5o2.woff') format('woff'),
//   url('//at.alicdn.com/t/font_1354456_19ax755o5o2.ttf') format('truetype'),
//   url('//at.alicdn.com/t/font_1354456_19ax755o5o2.svg#iconfont') format('svg');
// }

//编译后用这个
// @font-face {
//     font-family: 'iconfont';
//     src: url('../../static/font/iconfont.eot');
//     src: url('../../static/font/iconfont.eot?#iefix') format('embedded-opentype'), url('../../static/font/iconfont.woff2') format('woff2'), url('../../static/font/iconfont.woff') format('woff'), url('../../static/font/iconfont.ttf') format('truetype'), url('../../static/font/iconfont.svg#iconfont') format('svg');
// }

@font-face {
	font-family: 'iconfont';
	src: url('../font/iconfont.eot');
	src: url('../font/iconfont.eot?#iefix') format('embedded-opentype'), url('../font/iconfont.woff2') format('woff2'), url('../font/iconfont.woff') format('woff'),
		url('../font/iconfont.ttf') format('truetype'), url('../font/iconfont.svg#iconfont') format('svg');
}

/** vue防止闪烁**/

[v-cloak] {
	display: none !important;
}

/** 全局变量 **/

/*默认边框颜色*/
$borderColor: #e11815;

/*默认交互颜色*/
$hoverColor: #e11815;

/*默认交互背景颜色*/
$hoverBgColor: #e11815;

/*默认按钮颜色*/
$defaultBtnColor: #e11815;

/*默认按钮颜色*/
$defaultBtnHoverColor: #e11815;

/*body背景颜色*/
$bodyColor: #e11815;

/*背景颜色*/
$bgColor: #e11815;

/*默认字体颜色*/
$headFontColor: #fff;

/*默认字体颜色*/
$fontColor: #000;

/*全局样式*/

html,
body {
	height: 100%;
	color: $fontColor;
	font-family: '微软雅黑';
}

* {
	&::-webkit-scrollbar {
		width: 0;
		height: 0;
	}
	&::-webkit-scrollbar-button {
		width: 0;
		height: 0;
	}
	&::-webkit-scrollbar-track {
		background: #eee;
		border: thin solid lightgray;
		box-shadow: 0 0 0.03rem #dfdfdf inset;
		border-radius: 0.1rem;
	}
	&::-webkit-scrollbar-thumb {
		background: #999;
		border: thin solid gray;
		border-radius: 0.1rem;
	}
	&::-webkit-scrollbar-thumb:hover {
		background: #7d7d7d;
	}
	@include box-sizing;
	-webkit-overflow-scrolling: touch;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	touch-action: pan-y;
}

%overflowAuto {
	overflow-x: hidden;
	overflow-y: auto;
}

input[type='text'],
textarea,
input[type='number'],
input[type='password'] {
	outline: 0;
	display: block;
	padding: 0.13rem 0.1rem;
	vertical-align: top;
	width: 100%;
	border: 0;
	font-size: 0.24rem;
	&::-webkit-input-placeholder {
		color: #b5b4b4;
	}
	&::-moz-placeholder {
		/* Mozilla Firefox 19+ */
		color: #b5b4b4;
	}
	&:-moz-placeholder {
		/* Mozilla Firefox 4 to 18 */
		color: #b5b4b4;
	}
	&:-ms-input-placeholder {
		/* Internet Explorer 10-11 */
		color: #b5b4b4;
	}
}

.iconfont {
	font-size: 0.6rem;
	line-height: 1;
	@extend %iconfont;
	vertical-align: top;
}

.f_right {
	float: right;
}

.f_left {
	float: left;
}

.center {
	text-align: center;
}

.noData {
	padding: 0.2rem;
	font-size: 0.2rem;
	text-align: center;
}

#app {
	position: relative;
	display: flex;
	flex-direction: column;
	overflow: hidden;
	height: 100%;
	max-width: 750px;
	margin: 0 auto;
	background-color: #fff;
	&.off {
		touch-action: none;
	}
}

.appStatusBar {
	position: relative;
	padding-top: 0.58rem;
	&:before {
		content: '';
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 0.59rem;
		background-color: #fff;
	}
}

.appStatusBar {
	&.appStatusBarIndex {
		&:before {
			content: '';
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 0.58rem;
			background-color: #fff;
		}
	}
}

.animateContent {
	position: relative;
	flex: 1;
	overflow: hidden;
	> .main {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		background-color: $bgColor;
		will-change: transform, opacity;
	}
}

.main {
	display: flex;
	flex: 1;
	flex-direction: column;
	overflow: hidden;
}

@-webkit-keyframes weuiLoading {
	0% {
		-webkit-transform: translateY(1rem) rotate(0deg);
		transform: translateY(1rem) rotate(0deg);
	}
	to {
		-webkit-transform: translateY(1rem) rotate(1turn);
		transform: translateY(1rem) rotate(1turn);
	}
}

@keyframes weuiLoading {
	0% {
		-webkit-transform: translateY(1rem) rotate(0deg);
		transform: translateY(1rem) rotate(0deg);
	}
	to {
		-webkit-transform: translateY(1rem) rotate(1turn);
		transform: translateY(1rem) rotate(1turn);
	}
}

.scroll_content {
	position: relative;
	flex: 1;
	@extend %overflowAuto;
	touch-action: auto;
	&.off {
		overflow: hidden;
	}
	.refreshBtn {
		position: absolute;
		z-index: 99;
		border-radius: 50%;
		bottom: 100%;
		left: 50%;
		margin-left: -0.3rem;
		@include bgcolor(#fff, 0.8);
		@include transform('translateY(0) rotate(0deg)');
		&.cur {
			color: $defaultBtnColor;
		}
		&.on {
			color: $defaultBtnColor;
			@include animation('weuiLoading 0.5s linear infinite');
			-webkit-animation-play-state: running;
			animation-play-state: running;
		}
	}
	.scroll_content_bottom {
		text-align: center;
		overflow: hidden;
		.spinner {
			width: 0.66rem;
			vertical-align: top;
			margin-bottom: 0.2rem;
		}
		.tipText {
			padding: 0.05rem 0;
			margin-bottom: 0.2rem;
		}
	}
}

.header {
	position: relative;
	padding: 0 0.2rem;
	min-height: 1rem;
	line-height: 1rem;
	background-color: $bgColor;
	color: $headFontColor;
	.center {
		text-align: center;
		font-weight: bold;
		font-size: 0.32rem;
	}
	.left {
		position: absolute;
		left: 0.2rem;
		top: 0;
		height: 100%;
		display: flex;
		align-items: center;
		// .return_icon {
		// 	display: block;
		// 	width: 0.17rem;
		// 	height: 0.3rem;
		// 	margin-right: 0.2rem;
		// 	text-align: center;
		// 	vertical-align: middle;
		// 	background: url(../images/return_icon.png) no-repeat;
		// 	background-size: 100% 100%;
		// }
	}
	.right {
		position: absolute;
		right: 0.2rem;
		top: 0;
		height: 100%;
		display: flex;
		align-items: center;
		font-weight: bold;
	}
}
 
